#screensbox {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 900px;
	margin: auto;

	span {
		min-width: 128px;
		min-height: 64px;
		flex: 0 1 20%;
		flex-basis: 0;
		margin: 4px;
	}

	img {
		width: 100%;
		cursor: pointer;
	}
}

#selectedscreen {
	z-index: 2;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);

	svg {
		position: absolute;
		opacity: 0.5;
		width: 64px;
		height: 64px;
		cursor: pointer;
		transition: opacity 0.5s;
		filter: drop-shadow(0 0 5px #ffffff);

		&:hover {
			opacity: 1.0;
		}
	}

	h2 {
		font-size: 32px;
		text-align: center;
		text-shadow: 0 0 2px black, 0 0 5px white;
		color: black;
	}
}

#arrowright {
	right: 25px;
	top: 50%;
	transform: translateY(-50%) rotate(-90deg);
}

#arrowleft {
	left: 25px;
	top: 50%;
	transform: translateY(-50%) rotate(90deg);
}

#closebutton {
	top: 25px;
	right: 25px;
}

@media only screen and (max-width: 768px) {
	#screensbox span {
		min-width: 112px;
	}

	#selectedscreen {
		padding: 0;
	}
}
