:root {
	--background-color: #23272A;
	--text-color: #FFFFFF;
	--Link-color: #AAAAAA;
	--trim-color: #2C2F33;
	--itemtitle-color: #27bbf1;
	--navbar-hover-color: rgba(39, 187, 241, 0.3);
	--navbar-start-color: #262222;
	--navbar-end-color: #0F151A;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: "Roboto", sans-serif;
}

#title {
	text-align: center;
}

.Select-control {
	cursor: text;
}

.Select img {
	width: 24px;
	height: 24px;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

fieldset {
	max-width: 400px;
	margin: auto;
	border: none;
}

fieldset > * {
	margin: 3px 0px;
}

input[type=text],
input[type=color] {
    width: 100%;
    height: 36px;
    padding: 0 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-color-wrapper {
    border: 1px solid #aaa;
    border-radius: 4px;
	margin: 6px 0;
	height: 36px;
	position: relative;
	color: #aaaaaa;

	input[type=color] {
		opacity: 0;
		height: 100%;
	}

	span.placeholder {
		position: absolute;
		left: 10px;
		top: 50%;
		transform: translateY(-50%);
	}

	span.clearbutton {
		position: absolute;
		right: 23px;
		top: 0;
		height: 100%;
		width: 20px;
		cursor: pointer;
		text-align: center;
		font-size: 18px;
		line-height: 32px;
	}

	span.clearbutton:hover {
		color: red;
	}
}

button {
	cursor: pointer;
	background-color: var(--itemtitle-color);
	padding: 8px;
	border: none;
	border-radius: 4px;

	img {
		width: 16px;
		height: 16px;
		display: inline-block;
		margin-right: 5px;
		vertical-align: middle;
	}
}

.loadingscreen-box img {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;

	&:nth-child(1) {
		filter: blur(10px);
	}

	&:nth-child(2) {
		animation: fadein 0.75s;
	}
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}