#header {
	height: 50px;
	background: linear-gradient(to top, #2d2b2e, #232123)
}

#logobox {
	position: absolute;
	top: 0;
	left: 50%;
	width: 195px;
	height: 68px;
	transform: translate(-50%, 0);
}

#logo {
	width: 64px;
	height: 64px;
	margin: auto;
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -150%);
	animation: icongo 0.5s ease-out 1s 1 normal forwards;
	transition: filter 0.5s;
}

stop {
	transition: 0.5s ease;
}

#logo:hover #grad stop:first-child {
	stop-color: #c1300c;
}
#logo:hover #grad stop:last-child {
	stop-color: #ff2528;
}

#trap1 {
	transform: translateY(-100%);
	animation: trapgo 0.5s ease-out 0s 1 normal forwards;
}

#trap2 {
	transform: translateY(-100%);
	animation: trapgo 0.5s ease-out 0.5s 1 normal forwards;
}

@keyframes trapgo {
	from { transform: translateY(-100%); }
	to { transform: translateY(0); }
}

@keyframes icongo {
	from { transform: translate(-50%, -150%); }
	to { transform: translate(-50%, -50%); }
}