#header {
	position: relative;
	height: 50px;
	background: linear-gradient(to top, #2d2b2e, #232123)
}

#logobox {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 50%;
	width: 195px;
	height: 68px;
	transform: translate(-50%, 0);
}

#logo {
	width: 64px;
	height: 64px;
	margin: auto;
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -150%);
	animation: icongo 0.5s ease-out 1s 1 normal forwards;
	transition: filter 0.5s;

	&:hover #grad stop:first-child {
		stop-color: #c1300c;
	}

	&:hover #grad stop:last-child {
		stop-color: #ff2528;
	}

	stop {
		transition: 0.5s ease;
	}
}

#trap1 {
	transform: translateY(-100%);
	animation: trapgo 0.5s ease-out 0s 1 normal forwards;
}

#trap2 {
	transform: translateY(-100%);
	animation: trapgo 0.5s ease-out 0.5s 1 normal forwards;
}

@keyframes trapgo {
	from { transform: translateY(-100%); }
	to { transform: translateY(0); }
}

@keyframes icongo {
	from { transform: translate(-50%, -150%); }
	to { transform: translate(-50%, -50%); }
}

#header a {
	text-align: center;
	text-decoration: none;
	outline: 0;
	font-weight: bold;
	color: #dddddd;
}

#navbar {
	position: absolute;
	left: 50%;
	padding-left: 84px;
	height: 100%;

	span {
		position: relative;
		display: inline-block;
		height: 100%;
		min-width: 150px;
		box-shadow: inset 0 0 10px 2px #000000;

		a {
			box-sizing: border-box;
			position: relative;
			width: 100%;
			height: 100%;
			line-height: 50px;
			display: block;
			transition: z-index 0.5s, box-shadow 0.5s, background-size 0.5s;
			background: radial-gradient(at bottom, rgb(32, 229, 229) 0%, transparent 75%);
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: 0% 0%;
			z-index: 0;
		}

		a.active {
			background-size: 100% 40%;
			border-bottom: #c6ffff solid 3px;
		}

		a:hover {
			z-index: 1;
			box-shadow: 
				inset 0 0 20px 5px rgba(32, 229, 229, 70%),
				0 0 5px 2px rgba(32, 229, 229, 70%);
		}
	}
}