#header {
	height: 50px;
	background: linear-gradient(to top, #2d2b2e, #232123)
}

#logobox {
	position: absolute;
	top: 0;
	left: 50%;
	width: 195px;
	height: 68px;
	transform: translate(-50%, 0);
}
/*
#logobox img {
	width: 66px;
	height: 66px;
	margin: auto;
	position: absolute;
	top: 47%;
	left: 50%;
	transition: transform 0.75s 1.5s, border-radius 0.75s 2.25s, box-shadow 0.75s 2.25s;
	transform: translate(-50%, -200%);
}

#trap1 {
	transition: transform 0.75s;
	transform: translateY(-95%);
}

#trap2 {
	transition: transform 0.75s 0.75s;
	transform: translateY(-95%);
}*/