div.response {
	max-width: 400px;
	margin: 10px auto;
	text-align: center;
}

div.soundtitle {
	position: relative;
	color: var(--itemtitle-color);
	font-weight: bold;
	font-size: 125%;
	height: 32px;
	line-height: 24px;
	padding: 4px;

	> span {
		vertical-align: top;
		display: inline-block;
		display: -moz-inline-stack;
		font-size: 17.5px;
		position: relative;
	}

	> span > img {
		margin: 0 5px;
	}

	svg,
	> span > img
	{
		width: 24px;
		height: 24px;
	}
}

.speaker {
	position: relative;

	* {
		user-select: none;
	}
}

.link-button {
	display: inline-block;
	height: 32px;
	width: 32px;
	transition: all 0.5s ease;

	&:hover {
		transform: rotate(360deg) scale(1.1);
	}

	> img {
		display: flex;
		height: 100%;
		width: 100%;
	}
}

img {
	vertical-align: middle;
}

.link-menu-list {
	position: absolute;
	top: 50%;
	transform: translate(-100%, -50%);
	display: flex;
	pointer-events: none;

	a {
		margin-right: 10px;
	}
}

span:hover > .link-menu-list {
	visibility: visible;
	pointer-events: all;
}

span:not(:hover) > .link-menu-list > * {
	width: 0;
	height: 0;
	transform: rotate(180deg) scale(0.0);
	opacity: 0.0;

	&:last-child {
		margin-right: 0;
	}
}
